= simple_form_for(@invoice) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :customer_id
    = f.input :invoice_number
    = f.input :invoice_date
    = f.input :due_date
    = f.input :terms
    = f.input :message
    = f.simple_fields_for :customer do |c|
      =c.input :company
      =c.input :email

  .form-actions
    = f.button :submit
