#myWizard.wizard{"data-initialize" => "wizard"}
  .steps-container
    %ul.steps
      %li.active{"data-name" => "campaign", "data-step" => "1"}
        %span.badge> 1
        Customer
        %span.chevron
      %li{"data-step" => "2"}
        %span.badge> 2
        Invoice
        %span.chevron
      %li{"data-name" => "template", "data-step" => "3"}
        %span.badge> 3
        Submit
        %span.chevron
  .actions
    %button.btn.btn-default.btn-prev{:type => "button"}
      %span.glyphicon.glyphicon-arrow-left>
      Prev
    %button.btn.btn-primary.btn-next{"data-last" => "Complete", :type => "button"}
      Next
      %span.glyphicon.glyphicon-arrow-right
  = simple_form_for(@invoice) do |f|
    = f.error_notification
    .step-content
      .step-pane.active.sample-pane.alert{"data-step" => "1"}
        %h4 Create Your Customer
        .form-inputs    
          = f.simple_fields_for :customer do |c|
            =c.input :company, :url => autocomplete_customer_company_invoices_path, :as => :autocomplete, :update_elements => {:id => '#id_element', :email => '#invoice_customer_attributes_email', :given_name => '#invoice_customer_attributes_given_name', :family_name => '#invoice_customer_attributes_family_name', :address_line1 => '#invoice_customer_attributes_address_line1', :address_line2 => '#invoice_customer_attributes_address_line2', :city => '#invoice_customer_attributes_city', :region => '#invoice_customer_attributes_region', :country => '#invoice_customer_attributes_country', :zip => '#invoice_customer_attributes_zip', :phone => '#invoice_customer_attributes_phone', :vat_number => '#invoice_customer_attributes_vat_number' }
            %p.hint
              Invoiced this customer before? Simply type the name of the publication and we'll autofill the details.
            %p.hint
              New customer? Type the name of the publication - if it's not found, you may have to fill out the forms manually :(
            =c.simple_fields_for :payee do |p|
              =p.input :first_name
              =p.input :last_name
              =p.input :email
            =c.input :address_line1
            =c.input :address_line2
            =c.input :city
            =c.input :region
            =c.input :zip
            =c.input :country
            =c.input :phone
            =c.input :vat_number
      .step-pane.sample-pane.bg-info.alert{"data-step" => "2"}
        %h4 Set Up Your Invoice
        .form-inputs
          = f.input :user_id
          = f.input :customer_id
          = f.input :invoice_number
          = f.input :invoice_date
          = f.input :due_date
          = f.input :terms
          = f.input :message
      .step-pane.sample-pane.bg-danger.alert{"data-step" => "3"}
        %h4 Add Your Own Details
        .form-actions
          = f.button :submit



