%p#notice= notice

%p
  %b User:
  = @invoice.user_id
%p
  %b Customer:
  = @invoice.customer_id
%p
  %b Invoice number:
  = @invoice.invoice_number
%p
  %b Invoice date:
  = @invoice.invoice_date
%p
  %b Due date:
  = @invoice.due_date
%p
  %b Terms:
  = @invoice.terms
%p
  %b Message:
  = @invoice.message

= link_to 'Edit', edit_invoice_path(@invoice)
\|
= link_to 'Back', invoices_path
